/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Réinitialiser les styles de la liste par défaut */
ul.square-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Appliquer le style aux balises <li> */
ul.square-list li {
  float: left; /* Aligner les balises <li> horizontalement */
  width: 30px; /* Ajuster la taille des carrés selon vos besoins */
  height: 30px; /* Ajuster la taille des carrés selon vos besoins */
  background-color: rgb(31, 120, 192);
  color: white;
  text-align: center;
  line-height: 30px; /* Ajuster la ligne verticale selon vos besoins */
  margin: 5px; /* Espacement entre les carrés */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ajouter une ombre aux carrés */
}

.no-underline {
  text-decoration: none;
  color: inherit;
}
